<%- include('../inc/head.ejs') %>
<%- include('../inc/header.ejs') %>
<script src="/js/promise.polyfill.min.js"></script>
<script src="/js/axios.min.js"></script>
<section class="update-wrapper wrapper">
	<%- include('../inc/title-book.ejs') %>  
	<form action="/<%= LANG %>/board/<%= post.id %>" data-validation="<%= VALIDATION.WRITE %>" method="POST" name="updateForm" enctype="multipart/form-data">
		<table class="update-tbl">
			<tbody>
				<tr>
					<td class="title require"><%= FIELD.TITLE %></td>
					<td class="content">
						<input type="text" name="title" class="form-control" placeholder="<%= FIELD.TITLE %>" value="<%= post.title %>" autofocus>
					</td>
				</tr>
				<tr>
					<td class="title"><%= FIELD.WRITER %></td>
					<td class="content">
						<input type="text" name="writer" class="form-control" placeholder="<%= FIELD.WRITER %>" value="<%= post.writer %>">
					</td>
				</tr>
				<tr>
					<td class="title"><%= FIELD.CONTENT %></td>
					<td class="content">
						<textarea name="content" class="form-control" placeholder="<%= FIELD.CONTENT %>"><%= post.content %></textarea>
					</td>
				</tr>
				<tr>
					<td class="title"><%= FIELD.UPFILE %></td>
					<td class="content">
						<% if(isImg(post.save || '')) { %> 
						<div class="file-wrap">
							<img src="<%= relPath(post.save) %>" alt="<%= post.ori %>" class="img">
							<div class="file"><%= post.ori%></div>
							<button type="button" id="btRemoveUpfile" class="btn btn-sm btn-danger" data-msg="<%= MSG.DELETE %>" data-id="<%= post.id %>"><%= BT.DELETE %></button> 
						</div>
						<% } else if(post.save) { %>
						<div class="file-wrap">
							<div class="file"><%= post.ori%></div>
							<button type="button" id="btRemoveUpfile" class="btn btn-sm btn-danger" data-msg="<%= MSG.DELETE %>" data-id="<%= post.id %>"><%= BT.DELETE %></button> 
						</div>
						<% } %> 
						<input type="file" name="upfile" class="form-control-file">
					</td>
				</tr>
				<tr>
					<td class="title"><%= FIELD.UPFILE2 %></td>
					<td class="content">
						<% if(isImg(post.save2 || '')) { %> 
						<div class="file-wrap">
							<img src="<%= relPath2(post.save2) %>" alt="<%= post.ori2 %>" class="img">
							<div class="file"><%= post.ori2%></div>
							<button type="button" id="btRemoveUpfile2" class="btn btn-sm btn-danger" data-msg="<%= MSG.DELETE %>" data-id="<%= post.id %>" data-two="two"><%= BT.DELETE %></button> 
						</div>
						<% } else if(post.save2) { %>
						<div class="file-wrap">
							<div class="file"><%= post.ori2%></div>
							<button type="button" id="btRemoveUpfile2" class="btn btn-sm btn-danger" data-msg="<%= MSG.DELETE %>" data-id="<%= post.id %>" data-two="two"><%= BT.DELETE %></button> 
						</div>
						<% } %> 
						<input type="file" name="upfile2" class="form-control-file">
					</td>
				</tr>
			</tbody>
		</table>
		<div class="btn-wrap p-3 text-center">
			<button class="btn btn-success"><%= BT.CREATE %></button>
			<button class="btn btn-danger" type="reset"><%= BT.RESET %></button>
		</div>
	</form>
</section>
<%- include('../inc/foot.ejs') %> 