<%- include('../inc/head.ejs') %>
<%- include('../inc/header.ejs') %>
<script src="/js/promise.polyfill.min.js"></script>
<script src="/js/axios.min.js"></script>
<section class="view-wrapper wrapper">
	<%- include('../inc/title-book.ejs') %> 
	<table class="view-tbl">
		<tbody>
			<tr>
				<td class="title"><%= FIELD.TITLE %></td>
				<td class="content"><%= post.title %></td>
			</tr>
			<tr>
				<td class="title"><%= FIELD.WRITER %></td>
				<td class="content"><%= post.writer %></td>
			</tr>
			<tr>
				<td class="title"><%= FIELD.DATE %></td>
				<td class="content"><%= post.createAt %></td>
			</tr>
			<tr>
				<td class="title"><%= FIELD.READCOUNT %></td>
				<td class="content"><%= post.viewCount %></td>
			</tr>
			<tr class="content-tr">
				<td class="title"><%= FIELD.CONTENT %></td>
				<td class="content"><%= post.content %></td>
			</tr>
			<tr>
				<td class="title"><%= FIELD.UPFILE %></td>
				<td class="content">
					<% if(isImg(post.save || '')) { %> 
						<img src="<%= relPath(post.save) %>" alt="첨부파일" class="file-img">
						<a href="/<%= LANG %>/board/download/<%= post.id %>" class="my-2 d-block"><%= post.ori %></a>
					<% } else if(post.ori) { %>
						<a href="/<%= LANG %>/board/download/<%= post.id %>" class="my-2 d-block"><%= post.ori %></a>
					<% } else { %>
						<div class="my-2 d-block"><%= VIEW.NO_FILE %></div>
					<% } %> 
				</td>
			</tr>
		</tbody>
	</table>
	<div class="btn-wrap py-3 d-flex">
		<button id="btList" data-lang="<%= LANG %>" class="btn btn-primary"><%= BT.LIST %></button>
		<button id="btUpdate" data-lang="<%= LANG %>"  data-id="<%= post.id %>" class="btn btn-success ml-auto mr-1"><%= BT.UPDATE %></button>
		<button id="btRemove" class="btn btn-danger" data-msg="<%= MSG.DELETE %>"><%= BT.DELETE %></button>
	</div>
	<form action="/<%= LANG %>/board/delete/<%= post.id %>" method="POST" name="deleteForm">
		<input type="hidden" name="_method" value="DELETE">
	</form>
	<div class="comment-wrap">
		<form action="/<%= LANG %>/board/comment/<%= post.id %>" data-validation="<%= VALIDATION.COMMENT %>"  name="commentForm" method="POST">
			<div class="write-wp">
				<input type="text" name="writer" class="form-control" placeholder="<%= COMMENT.WRITER %>">
				<input type="text" name="comment" class="form-control" placeholder="<%= COMMENT.COMMENT %>">
				<button class="btn btn-primary"><%= BT.POST_COMMENT %></button>
			</div>
			<table class="table table-striped comment-tbl">
				<tbody>
					<%for(let comment of comments) {  %> 
					<tr class="comment-tr">
						<td class="datetime"><%= comment.createAt %></td>
						<td class="writer"><%= comment.writer %></td>
						<td class="comment"><%= comment.comment %></td>
						<td><button  id="btCommentUpdate" data-commentid="<%= comment.id %>" data-msg="<%= MSG.UPDATE %>" data-update="update" class="btn btn-success" type="button"><%= BT.UPDATE %></button></td>
						<td><button id="btCommentRemove" data-commentid="<%= comment.id %>" data-msg="<%= MSG.DELETE %>" class="btn btn-danger" type="button"><i class="fa fa-times"></i></button></td>
					</tr>
					<% } %> 
				</tbody>
			</table>
			<%- include('../inc/pager.ejs') %>
			<div class="comment-update-wrap" style="display: none;">
				<h2 class="update-title"><span><%= COMMENT.UPDATE %></spa></h2>
				<div class="update-wp">
					<input type="text" name="updateWriter" class="form-control" placeholder="<%= COMMENT.WRITER %>">
					<input type="text" name="updateComment" class="form-control" placeholder="<%= COMMENT.COMMENT %>">
					<button class="btUpdateComment btn btn-dark" data-msg="<%= MSG.DELETE %>"><%= BT.POST_COMMENT %></button>
				</div>
			</div>
		</form>
	</div>
</section>
<%- include('../inc/foot.ejs') %> 